/* ТЕЛЕФОНЫ */
@media (min-width: 320px) {
    .container {
        width: 90%;
    }

    .svg_main_logo {
        width: 225px;
    }

    .main_title {
        font-size: 15px;
    }

    .products_title {
        font-size: 21px;
    }

    .card_list {
        justify-content: center;
    }

    .product_img {
        width: 250px;
        height: 250px;
    }

    .product_info, .product_operation {
        width: 250px;
    }

    .product_buy {
        font-size: 13px;
        padding: 10px 30px;
    }

    .product_count > a {
        font-size: 13px;
    }
}

@media (min-width: 450px) {
    .svg_main_logo {
        width: 275px;
    }

    .main_title {
        font-size: 17px;
    }

    .products_title {
        font-size: 25px;
    }

    .product_img {
        width: 300px;
        height: 300px;
    }

    .product_info, .product_operation {
        width: 300px;
    }

    .product_buy {
        font-size: 14px;
        padding: 10px 35px;
    }

    .product_count > a {
        font-size: 14px;
    }
}

@media (min-width: 599px) {
    .card_list {
        justify-content: space-between;
    }

    .product_img {
        width: 320px;
        height: 320px;
    }

    .product_info, .product_operation {
        width: 320px;
    }

    .product_buy {
        font-size: 15px;
        padding: 10px 40px;
    }

    .product_count > a {
        font-size: 15px;
    }
}

/* ПЛАНШЕТЫ */
@media (min-width: 768px) {
    .container {
        width: 85%;
    }

    .svg_main_logo {
        width: 375px;
    }

    .main_title {
        font-size: 19px;
    }

    .products_title {
        font-size: 29px;
    }
}

@media (max-width: 810px) {
    .footer_container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .information_company {
        order: 3;
    }

    .contact {
        order: 2;
    }
}

@media (max-width: 890px) {
    .product {
        flex-direction: column;
        align-items: center;
    }

    .main_second {
        margin-top: 25px;
    }
}

@media (min-width: 890px) {
    .product_img {
        width: 350px;
        height: 350px;
    }

    .product_buy {
        font-size: 16px;
        padding: 10px 40px;
    }

    .product_count > a {
        font-size: 16px;
    }
}

/* ДЕСКТОП */
@media (min-width: 1280px) {
    .container {
        width: 1200px;
    }

    .svg_main_logo {
        width: 400px;
    }

    .main_title {
        font-size: 21px;
    }

    .products_title {
        font-size: 32px;
    }
}