* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Murs Gothic", sans-serif;
    color: white;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: "Murs Gothic";
    src: url("font/Murs-Gothic.ttf");
}