@font-face {
    font-family: "Murs Gothic", 'sans-serif';
    src: url("/font/Murs-Gothic.ttf");
}

@font-face {
    font-family: "Inter Regular", 'sans-serif';
    src: url("/font/Inter-Regular.ttf");
}

@font-face {
    font-family: "Inter Bold", 'sans-serif';
    src: url("/font/Inter-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
}

a {
    text-decoration: none;
}
