@font-face {
    font-family: "Prosto one";
    src: url("../font/ProstoOne-Regular.ttf");
}

@font-face {
    font-family: "Poppins SemiBold";
    src: url("../font/Poppins-SemiBold.ttf");
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
    font-family: 'Poppins SemiBold', sans-serif;
    font-weight: 600;
}

a {
    text-decoration: none;
}
