/* ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ */

.no-show {
    display: none;
}

/* BODY START */

body {
    background-color: black;
    position: relative;
    min-height: 100vh;
}

/* BODY END */



/* HEADER START */

header {
    display: flex;
    justify-content: center;
    padding: 15px 0px;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.nav>a {
    padding: 10px 13px;
    margin-left: 30px;
    transition: .2s;
}

.nav>a:first-child {
    margin-left: 0px;
}

.nav>a:hover {
    background-color: white;
    color: black;
}

.menu_btn {
    overflow: hidden;
    width: 30px;
    height: 30px;
    position: relative;
}

.menu_btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.menu_btn.second span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
}

.menu_btn span:nth-child(2) {
    top: calc(50% - 10px);
}

.menu_btn span:nth-child(3) {
    top: calc(50% + 10px);
}

.nav_small_screen {
    box-sizing: border-box;
    background-color: white;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 15px 0px;
    font-weight: 700;
}

.header_small_screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    height: 100%;
}

.small_screen_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.small_screen_middle {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.small_screen_middle>a {
    padding: 10px 13px;
    margin-bottom: 20px;
    transition: .2s;
    color: black;
}

.small_screen_middle>a:last-child {
    margin-bottom: 0px;
}

.small_screen_middle>a:hover {
    background-color: black;
    color: white;
}

.small_screen_footer {
    display: flex;
    justify-content: space-evenly;
}

.small_screen_footer>a {
    padding: 10px 13px;
    margin-bottom: 20px;
    transition: .2s;
    color: black;
}

.small_screen_footer>a:hover {
    background-color: black;
    color: white;
}

/* HEADER END */



/* MAIN START */

main.main {
    position: relative;
}

.main_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
    margin-bottom: 50px;
}

.main_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.svg_main_logo {
    margin: 0 auto;
    margin-bottom: 25px;
}

.main_title {
    text-align: center;
    font-weight: 700;
    line-height: 30px;
}

.last_sales {
    margin-inline: auto;
    margin-bottom: 50px;
}

.last_sales_title {
    text-align: center;
    font-weight: 700;
    margin-bottom: 50px;
}

.card_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 255px;
    height: 450px;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_info {
    flex: 1;
    margin: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.album_name {
    color: black;
    font-weight: 700;
    font-size: 23px;
}

.album_artist {
    color: black;
    font-weight: 700;
    font-size: 14px;
    color: #828282;
}

.price {
    color: black;
    font-weight: 700;
    font-size: 23px;
}

.card_button {
    background-color: black;
    color: white;
    font-weight: 700;
    font-size: 12px;
    padding: 15px 30px;
    transition: .2s;
}

.card_button:hover {
    background-color: white;
    color: black;
}

.card_operation {
    display: flex;
    justify-content: space-between;
}

.card_minus {
    border-radius: 50%;
    background-color: white;
    padding: 0px 10px;
    border: 3px solid black;
    color: black;
    font-size: 20px;
    font-weight: 700;    
}

/* MAIN END */



/* FOOTER START */



/* FOOTER END */
