* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    position: relative;
    font-family: var(--fontFamily);
    font-size: var(--primaryFontSize);
    color: var(--primaryColor);
    font-weight: var(--primaryFontWeight);
}

ul, ol {
    list-style-type: none;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: var(--primaryColor);
}

.container {
    width: var(--containerWidth);
}