@font-face {
    font-family: 'Open Sans';
    src: url('./../../fonts/OpenSans-VariableFont_wdth,wght.ttf');
}

:root {
    --primaryColor: #00345A;
    --secondaryColor: #006BFF;
    --thirdColor: #FFF;
}

:root {
    --primaryFontSize: 17px;

    @media (max-width: 1024px) {
        --primaryFontSize: 16px;
    }
    @media (max-width: 768px) {
        --primaryFontSize: 15px;
    }
    @media (max-width: 480px) {
        --primaryFontSize: 14px;
    }

    --secondaryFontSize: 40px;

    @media (max-width: 1024px) {
        --secondaryFontSize: 34px;
    }
    @media (max-width: 768px) {
        --secondaryFontSize: 28px;
    }
    @media (max-width: 480px) {
        --secondaryFontSize: 22px;
    }

    --thirdFontSize: 23px;

    @media (max-width: 1024px) {
        --thirdFontSize: 21px;
    }
    @media (max-width: 768px) {
        --thirdFontSize: 19px;
    }
    @media (max-width: 480px) {
        --thirdFontSize: 17px;
    }
}

:root {
    --primaryFontWeight: 600;
    --secondaryFontWeight: 300;
    --thirdFontWeight: 700;
}

:root {
    --fontFamily: 'Open Sans', sans-serif; 
}

:root {
    --containerWidth: clamp(200px, 85%, 1200px);
}
