#index {
    .main__img {
        img {
            width: 100%;
            height: 100%;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }
}

#about {
    background-color: #F0F3F8;

    ul {
        li {
            border-bottom: 2px solid var(--secondaryColor);
        }
    } 
}

#workService {
    video {
        width: 100%;
    }
}

#subscriptions {
    background-color: #F0F3F8;

    table {
        width: 100%;

        .no__sub {
            color: #8e8e8e;
        }

        .premium__sub {
            color: var(--secondaryColor);
        }

        th {
            text-align: left;
        }

        td, tr:first-child th {
            text-align: center;
        }
    }
}

#meetCreate {
    form {
        .create__meet__input {
            width: 100%;
        }

        .create__meet__input__date__list {
            .input__date__item {
                div {
                    font-weight: 400;
                }

                .input__date__item__operations {
                    position: relative;
                }
            }
        }

        .create__meet__agree {
            font-weight: var(--secondaryFontWeight);

            input {
                transform: scale(1.5);
            }
        }

        .create__meet__submit {
            border: none;
            
            font-family: var(--fontFamily);
            font-size: var(--primaryFontSize);
        }
    }
}